In [6]:
import requests
file_names = ["u202.csv", "u203.csv", "u302.csv", "studenti.csv", "predsedajici.csv"]

for file in file_names:
    url = "https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/{}".format(file)
    r = requests.get(url)
    open(file, "wb").write(r.content)
    print(f"File {file} downloaded.")

File u202.csv downloaded.
File u203.csv downloaded.
File u302.csv downloaded.
File studenti.csv downloaded.
File predsedajici.csv downloaded.

In [7]:
import pandas
u202 = pandas.read_csv("u202.csv")
u203 = pandas.read_csv("u203.csv")
u302 = pandas.read_csv("u302.csv")

In [8]:
u202

    cisloStudenta           predmet  znamka den
0               1            Chemie     NaN  pá
1               2           Dějepis     3.0  pá
2               3        Matematika     2.0  út
3               2  Společenské vědy     2.0  pá
4               4          Biologie     1.0  pá
5               5           Dějepis     1.0  po
6               6            Fyzika     2.0  čt
7               7           Dějepis     4.0  po
8               8        Matematika     2.0  po
9               9           Dějepis     NaN  pá
10             10            Chemie     2.0  st
11              3            Chemie     5.0  út
12             11        Matematika     1.0  st
13             12          Biologie     4.0  st
14             10           Dějepis     5.0  st

In [9]:
#NaN = not a number -> chybí hodnota
u202["znamka"].isnull() #True = NaN

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
Name: znamka, dtype: bool

In [10]:
u202["znamka"].notnull() #opak .isnull() #stejná metoda .notna()

0     False
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10     True
11     True
12     True
13     True
14     True
Name: znamka, dtype: bool

In [11]:
#nahradit / odstranit
test_data = u202[u202["znamka"].isnull()]
test_data

   cisloStudenta  predmet  znamka den
0              1   Chemie     NaN  pá
9              9  Dějepis     NaN  pá

In [12]:
test_data.dropna() #.dropna() vymaže všechny řádky obsahující NaN hodnotu

Empty DataFrame
Columns: [cisloStudenta, predmet, znamka, den]
Index: []

In [13]:
test_data.dropna(axis=1) # axis=0 odstraní řádky, axis=1 odstraní sloupečky

   cisloStudenta  predmet den
0              1   Chemie  pá
9              9  Dějepis  pá

In [14]:
test_data.fillna("Hodnota chybí")

   cisloStudenta  predmet         znamka den
0              1   Chemie  Hodnota chybí  pá
9              9  Dějepis  Hodnota chybí  pá

In [15]:
#spojím si data framey
#první je vyčistím od NaN hodnot
u202 = pandas.read_csv("u202.csv").dropna()
u203 = pandas.read_csv("u203.csv").dropna()
u302 = pandas.read_csv("u302.csv").dropna()

In [17]:
maturita = pandas.concat([u202, u203, u302], ignore_index=True)
maturita

    cisloStudenta           predmet  znamka den
0               2           Dějepis     3.0  pá
1               3        Matematika     2.0  út
2               2  Společenské vědy     2.0  pá
3               4          Biologie     1.0  pá
4               5           Dějepis     1.0  po
5               6            Fyzika     2.0  čt
6               7           Dějepis     4.0  po
7               8        Matematika     2.0  po
8              10            Chemie     2.0  st
9               3            Chemie     5.0  út
10             11        Matematika     1.0  st
11             12          Biologie     4.0  st
12             10           Dějepis     5.0  st
13              5  Společenské vědy     3.0  po
14             13        Matematika     5.0  po
15              7       Informatika     3.0  po
16             12            Fyzika     3.0  st
17             14            Fyzika     3.0  st
18             15            Chemie     3.0  pá
19             16       Informatika     2.0  út
20              8           Zeměpis     1.0  po
21             17            Fyzika     4.0  po
22             15  Společenské vědy     3.0  pá
23             20            Fyzika     2.0  čt
24             21          Biologie     4.0  st
25             22           Zeměpis     3.0  út
26             23       Informatika     1.0  po
27             23  Společenské vědy     1.0  po
28              6        Matematika     5.0  čt
29              4       Informatika     1.0  pá
30             16          Biologie     2.0  út
31             20        Matematika     1.0  čt
32             21       Informatika     4.0  st
33             11            Chemie     5.0  st
34             14           Dějepis     3.0  st
35             13            Chemie     4.0  po
36             22       Informatika     3.0  út
37             17        Matematika     3.0  po

In [19]:
u202["mistnost"] = "u202"
u203["mistnost"] = "u203"
u302["mistnost"] = "u302"

maturita = pandas.concat([u202, u203, u302], ignore_index=True)
maturita

    cisloStudenta           predmet  znamka den mistnost
0               2           Dějepis     3.0  pá     u202
1               3        Matematika     2.0  út     u202
2               2  Společenské vědy     2.0  pá     u202
3               4          Biologie     1.0  pá     u202
4               5           Dějepis     1.0  po     u202
5               6            Fyzika     2.0  čt     u202
6               7           Dějepis     4.0  po     u202
7               8        Matematika     2.0  po     u202
8              10            Chemie     2.0  st     u202
9               3            Chemie     5.0  út     u202
10             11        Matematika     1.0  st     u202
11             12          Biologie     4.0  st     u202
12             10           Dějepis     5.0  st     u202
13              5  Společenské vědy     3.0  po     u203
14             13        Matematika     5.0  po     u203
15              7       Informatika     3.0  po     u203
16             12            Fyzika     3.0  st     u203
17             14            Fyzika     3.0  st     u203
18             15            Chemie     3.0  pá     u203
19             16       Informatika     2.0  út     u203
20              8           Zeměpis     1.0  po     u203
21             17            Fyzika     4.0  po     u203
22             15  Společenské vědy     3.0  pá     u203
23             20            Fyzika     2.0  čt     u203
24             21          Biologie     4.0  st     u203
25             22           Zeměpis     3.0  út     u203
26             23       Informatika     1.0  po     u302
27             23  Společenské vědy     1.0  po     u302
28              6        Matematika     5.0  čt     u302
29              4       Informatika     1.0  pá     u302
30             16          Biologie     2.0  út     u302
31             20        Matematika     1.0  čt     u302
32             21       Informatika     4.0  st     u302
33             11            Chemie     5.0  st     u302
34             14           Dějepis     3.0  st     u302
35             13            Chemie     4.0  po     u302
36             22       Informatika     3.0  út     u302
37             17        Matematika     3.0  po     u302

In [20]:
maturita.to_csv("maturita.csv", index=False) #zapíšu do souboru bez sloupečku s indexama

In [21]:
studenti = pandas.read_csv("studenti.csv")
studenti

    cisloStudenta              jmeno
0               1     Jana Zbořilová
1               2       Lukáš Jurčík
2               3        Pavel Horák
3               4      Pavel Kysilka
4               5   Kateřina Novotná
5               6  Marie Krejcárková
6               7        Vasil Lácha
7               8     Alexey Opatrný
8               9       Petr Valenta
9              10    Miroslav Bednář
10             11    Ivana Dvořáková
11             12     Lenka Jarošová
12             13         Arnošt Sas
13             14    Marie Kortusová
14             15    Monika Dudysová
15             16   Josef Vodseďálek
16             17     Antonín Hlídek
17             18  Hedvika Popelková
18             19       Filip Lacina
19             20     Marta Kinclová
20             21  Martina Korbářová
21             22         Petr Tábor

In [22]:
propojeny_df = pandas.merge(u202, studenti)

In [23]:
print(u202.shape)
print(propojeny_df.shape)

(13, 5)
(13, 6)

In [24]:
preds = pandas.read_csv("predsedajici.csv")

In [28]:
novy_propojeny_df = pandas.merge(propojeny_df, preds, on=["den"], how="left")
novy_propojeny_df.head()

,cisloStudenta,predmet,znamka,den,mistnost,jmeno_x,datum,jmeno_y
0,2,Dějepis,3.0,pá,u202,Lukáš Jurčík,24.5.2019,Alena Pniáčková
1,2,Společenské vědy,2.0,pá,u202,Lukáš Jurčík,24.5.2019,Alena Pniáčková
2,3,Matematika,2.0,út,u202,Pavel Horák,21.5.2019,Marie Zuzaňáková
3,3,Chemie,5.0,út,u202,Pavel Horák,21.5.2019,Marie Zuzaňáková
4,4,Biologie,1.0,pá,u202,Pavel Kysilka,24.5.2019,Alena Pniáčková

In [29]:
preds["den"] = preds["den"].str.strip() #odstraní mezery

In [30]:
novy_propojeny_df = pandas.merge(propojeny_df, preds, on=["den"], how="left")
novy_propojeny_df

,cisloStudenta,predmet,znamka,den,mistnost,jmeno_x,datum,jmeno_y
0,2,Dějepis,3.0,pá,u202,Lukáš Jurčík,24.5.2019,Alena Pniáčková
1,2,Společenské vědy,2.0,pá,u202,Lukáš Jurčík,24.5.2019,Alena Pniáčková
2,3,Matematika,2.0,út,u202,Pavel Horák,21.5.2019,Marie Zuzaňáková
3,3,Chemie,5.0,út,u202,Pavel Horák,21.5.2019,Marie Zuzaňáková
4,4,Biologie,1.0,pá,u202,Pavel Kysilka,24.5.2019,Alena Pniáčková
5,5,Dějepis,1.0,po,u202,Kateřina Novotná,20.5.2019,Marie Zuzaňáková
6,6,Fyzika,2.0,čt,u202,Marie Krejcárková,23.5.2019,Petr Ortinský
7,7,Dějepis,4.0,po,u202,Vasil Lácha,20.5.2019,Marie Zuzaňáková
8,8,Matematika,2.0,po,u202,Alexey Opatrný,20.5.2019,Marie Zuzaňáková
9,10,Chemie,2.0,st,u202,Miroslav Bednář,22.5.2019,Petr Ortinský
10,10,Dějepis,5.0,st,u202,Miroslav Bednář,22.5.2019,Petr Ortinský
11,11,Matematika,1.0,st,u202,Ivana Dvořáková,22.5.2019,Petr Ortinský
12,12,Biologie,4.0,st,u202,Lenka Jarošová,22.5.2019,Petr Ortinský

In [33]:
novy_propojeny_df = novy_propojeny_df.rename(columns={"jmeno_x": "jmeno", "jmeno_y": "predseda"})
novy_propojeny_df

,cisloStudenta,predmet,znamka,den,mistnost,jmeno,datum,predseda
0,2,Dějepis,3.0,pá,u202,Lukáš Jurčík,24.5.2019,Alena Pniáčková
1,2,Společenské vědy,2.0,pá,u202,Lukáš Jurčík,24.5.2019,Alena Pniáčková
2,3,Matematika,2.0,út,u202,Pavel Horák,21.5.2019,Marie Zuzaňáková
3,3,Chemie,5.0,út,u202,Pavel Horák,21.5.2019,Marie Zuzaňáková
4,4,Biologie,1.0,pá,u202,Pavel Kysilka,24.5.2019,Alena Pniáčková
5,5,Dějepis,1.0,po,u202,Kateřina Novotná,20.5.2019,Marie Zuzaňáková
6,6,Fyzika,2.0,čt,u202,Marie Krejcárková,23.5.2019,Petr Ortinský
7,7,Dějepis,4.0,po,u202,Vasil Lácha,20.5.2019,Marie Zuzaňáková
8,8,Matematika,2.0,po,u202,Alexey Opatrný,20.5.2019,Marie Zuzaňáková
9,10,Chemie,2.0,st,u202,Miroslav Bednář,22.5.2019,Petr Ortinský
10,10,Dějepis,5.0,st,u202,Miroslav Bednář,22.5.2019,Petr Ortinský
11,11,Matematika,1.0,st,u202,Ivana Dvořáková,22.5.2019,Petr Ortinský
12,12,Biologie,4.0,st,u202,Lenka Jarošová,22.5.2019,Petr Ortinský

In [37]:
maturita.groupby("predmet")["znamka"].mean()

predmet
Biologie            2.750000
Chemie              3.800000
Dějepis             3.200000
Fyzika              2.800000
Informatika         2.333333
Matematika          2.714286
Společenské vědy    2.250000
Zeměpis             2.000000
Name: znamka, dtype: float64